<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>A Page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

{{!-- navbar consistant across all pages --}}
    <div class="nav-container">


{{!-- href here is same as saying app.get? --}}
        <div id="nav-home"> <a href="/"> Home </a> </div>
        
        <div> <a href="beers"> Beers </a> </div>

        <div> <a href="randombeers"> Random Beers </a> </div>

    </div>


    {{!-- this is where unique code from other html will fit --}}
    {{{ body }}}

<footer>
    <p>Developed by Alexander Hoinville </p>
</footer>

</body>

</html>